<div class="d-flex justify-content-between align-items-center mt-3">
  <button class="btn btn-primary" (click)="previousWeek()"> קודם</button>
  <h1 class="m-0">{{course?.course_name}}</h1>
  <button class="btn btn-primary" (click)="nextWeek()">הבא</button>
</div>

<div class="schedule-container">
  <div class="schedule-header">
    <div class="schedule-hour"></div>
    <!-- <div class="schedule-day" *ngFor="let day of daysOfWeek">
      {{ day }} <br>
      {{ getFormattedDate(currentWeekDates[dayIndex]) }}
    </div> -->
    <div class="schedule-day" *ngFor="let day of daysOfWeek; let dayIndex = index">
      {{ day }} <br> {{ getFormattedDate(currentWeekDates[dayIndex]) }}
    </div>    
  </div>
  <div class="schedule-body">
    <div class="schedule-row" *ngFor="let hour of hours">
      <div class="schedule-hour">{{ hour }}:00</div>
      <div class="schedule-cell" *ngFor="let day of daysOfWeek; let dayIndex = index">
        <div *ngFor="let cls of getClassesForHourAndDay(hour, dayIndex)">
          <div class="class-card">{{ cls.class_name }}</div>
          <div class="class-card">{{ cls.class_description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
