<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col" *ngFor="let course of courses">
        <div class="card h-100">
          <div class="card-body">
            <app-course-details [course]="course"></app-course-details>
            <div class="d-flex justify-content-center mt-3">
              <button (click)="toSchedule(course)" class="btn btn-outline-primary me-2">
                <mat-icon>calendar_today</mat-icon>
              </button>
              <button (click)="toDocuments(course)" class="btn btn-outline-primary">
                <mat-icon>description</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>